body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-size: cover;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-wrapper {
  padding: 0 40px;
  margin: 0 auto;
  width: 1200px;
}

.inner-page{
  background-image: url("../bg-inner.png");
}

a {
  text-decoration: none;
}

.header-navigation {
  position: relative;
  color: #000;
  background-color: #fff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation__item {
  display: inline-block;
  padding: 16px 0;
  width: 240px;
  text-align: center;
}

.site-navigation a {
  color: #000;
}

.site-navigation a:focus,
.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.site-navigation a:not([href]) {
  color: #766357;
}

.picture-sedona {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

  text-align: center;

  background-image: url(../img/bg.jpg);
  background-size: cover;
}

.picture-sedona-text {
  padding: 70px 345px 75px 345px;
}

.about-sedona {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 1200px;

  background-color: #fff;
  text-align: center;
}

.what-is-sedona {
  padding-top: 50px;
  padding-bottom: 20px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 440px;

  font-size: 21px;
  line-height: 26px;
}

.five-reasons {
  padding-bottom: 35px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 490px;

  font-weight: 400;
  color: #333;
}

.modal-map {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 1200px;

  background-color: #fff;
}

.appointment {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  text-align: center;
}

.appointment-title {
  padding-top: 50px;

  font-size: 30px;
  line-height: 36px;
}

.appointment-info {
  margin-top: 35px;
  margin-bottom: 50px;
  display: inline-block;
  width: 435px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  font-weight: 400;
  color: #333;
}

.appointment a {
  padding: 30px 0;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 570px;

  color: #fff;
  font-size: 21px;

  background-color: #766357;
}

.appointment a:hover,
.appointment a:focus {
  background-color: #604e43;
}

.appointment a:not {
  color: #928a85;

  background-color: #503e33;
}

.search {
  width: 570px;

  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

fieldset {
  margin: 0;
  padding: 0;
  width: 570px;

  border:none;
}

.arrivial-date {
  display: flex;
  margin: 0;
  padding: 0;
  width: 570px;
}

.datein {
  display: inline-block;
  width: 90px;
  margin: 65px 12px 50px 55px;
}

.castom-form-date {
  width: 346px;
  height: 38px;
  margin-top: 55px;
  margin-bottom: 30px;

  color: #000;

  background-color: #f2f2f2;
  border: none;
}

.castom-form {
  color: #000;

  background-color: #f2f2f2;
  border: none;
}

.castom-form:hover {
  background-color: #ebebeb;
}

.castom-form:focus{
  background-color: #fff;
  outline: 2px solid #ebebeb;
}

.quantity-controller {
  color: #a9a9a9;

  background-color: #f2f2f2;
  border: none;
}

.quantity-controller:hover,
.quantity-controller:focus {
  color: #000;
}

.quantity-controller:active {
  color: #81b3d2;
}

.search-button {
  list-style: none;
}

.search-button {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px 190px;
  width: 450px;

  font-size: 21px;
  color: #fff;
  text-transform: uppercase;

  background-color: #81b3d2;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
}

.hotel-name {
  color: #000;
  font-size: 21px;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: #cacaca;
}

.info-category {
  color: #333;
  font-weight: 400;
}

.button-more {
  color: #fff;

  background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
}

.button-more:activ {
  color: #94b9d2;

  background-color: #5496bd;
}

.button-reserve {
  color: #fff;

  background-color: #766357;
}

.button-reserve:hover,
.button-reserve:focus {
  background-color: #604e43;
}

.button-reserve:activ {
  color: #928a85;

  background-color: #503e33;
}

.rating {
  color: #666;
  font-weight: 400;

  background-color: #f2f2f2;
}

.main-footer {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 1200px;

  background-color: #fff;
  opacity: 0.9;
}

.visitsedona {
  display: inline-block;
  margin-left: 130px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 250px;

  font-size: 21px;
  color: #000;
}

.footer-social {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  text-align: center;
}


/* currentColor */

.social-button {
  display: inline-block;

  width: 30px;
  height: 30px;
  color: blue;
  text-align: center;
  background-color: #000;
}

.social-button:hover,
.social-button:focus {
  outline: none;
  color: red;
}

.social-button:active {
  color: green;
}

.footer-copyright {
  display: flex;
  margin: 0;
  padding: 0;
}

.logo-htmlacademy {
 display: inline-block;
 margin-top: 45px;
 margin-right: 45px;
 margin-bottom: 45px;
 padding: 0;

 font-weight: 400;
 text-transform: uppercase;
}

.button-htmlacademy {
  display: inline-block;
   margin-top: 40px;
   margin-right: 20px;
   margin-bottom: 40px;
   padding: 0;
   width: 115px;
}
