body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;

  background: #f2f2f2 url("../img/bg.jpg") center no-repeat;
  background-size: cover;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.inner-page{
  background-image: url("../bg-inner.png");
}

a {
  text-decoration: none;
}

.main-navigation {
  color: #000;

  background-color: #fff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000;
}

.site-navigation a:focus,
.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.site-navigation a:not([href]) {
  color: #766357;
}

.picture-sedona {
  text-align: center;
}

.about-sedona {
  background-color: #fff;
  text-align: center;
}

.about-sedona .what-is-sedona {
  font-size: 21px;
  color: #000;
}

.about-sedona p {
  font-weight: 400;
  color: #333;
}

.modal-map {
  background-color: #fff;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
}

.appointment {
  text-align: center;
}

.appointment-info {
  font-weight: 400;
  color: #333;
}

.appointment a {
  color: #fff;
  font-size: 21px;

  background-color: #766357;
}

.appointment a:hover,
.appointment a:focus {
  background-color: #604e43;
}

.appointment a:not {
  color: #928a85;

  background-color: #503e33;
}

.castom-form {
  color: #000;

  background-color: #f2f2f2;
  border: none;
}

.castom-form:hover {
  background-color: #ebebeb;
}

.castom-form:focus{
  background-color: #fff;
  border: 2px solid #ebebeb;
  outline: #ebebeb;
}

.quantity-controller {
  color: #a9a9a9;

  background-color: #f2f2f2;
  border: none;
}

.quantity-controller:hover,
.quantity-controller:focus {
  color: #000;
}

.quantity-controller:active {
  color: #81b3d2;
}

.search-button {
  list-style: none;
}

.search-button {
  font-size: 21px;
  color: #fff;

  background-color: #81b3d2;
  border: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
}

.search-button:active {
  background-color: #5496bd;
}

.hotel-name {
  color: #000;
  font-size: 21px;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: #cacaca;
}

.info-category {
  color: #333;
  font-weight: 400;
}

.button-more {
  color: #fff;

  background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
}

.button-more:activ {
  color: #94b9d2;

  background-color: #5496bd;
}

.button-reserve {
  color: #fff;

  background-color: #766357;
}

.button-reserve:hover,
.button-reserve:focus {
  background-color: #604e43;
}

.button-reserve:activ {
  color: #928a85;

  background-color: #503e33;
}

.rating {
  color: #666;
  font-weight: 400;

  background-color: #f2f2f2;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.5);
}

.visitsedona {
  color: #000;
}

.footer-social {
  list-style: none;

  text-align: center;
}

.footer-copyright {
  text-align: right;
}



