body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background: #f2f2f2 url('../img/bg.jpg') center no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

.main-navigation {
  color: #000000;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:focus,
.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

.site-navigation a:not {
  color: #766357;
}

.accost {
  background-color: #ffffff;
  text-align: center;
}

/* TODO, он немножко больше, должны были показывать где-нибудь это. */
.visually-hidden {
  display: none;
}

.about-sedona {
  font-size: 21px;
}

.five-cause {
  font-weight: 400;
  color: #333333;
}

.modal-map {
  background-color: #ffffff;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
}

.appointment {
  text-align: center;
}

.appointment-info {
  font-weight: 400;
  color: #333333;
}

.search-form {
  list-style: none;
}

.search-form a {
  font-size: 21px;
  color: #ffffff;

  background-color: #766357;
}

.search-form a:hover {
  background-color: #604e43;
}

.search-form a:active {
  background-color: #503e33;
}

.castom-form {
  color: #000000;

  background-color: #f2f2f2;
  border: none;
}

.castom-form:hover,
.castom-form:focus{
  background-color: #ebebeb;
}

.castom-form:active{
  background-color: #ffffff;
  border: 2px solid #ebebeb;
}

.quantity-controller {
  color: #a9a9a9;

  background-color: #f2f2f2;
  border: none;
}

.quantity-controller:hover,
.quantity-controller:focus {
  color: #000000;
}

.quantity-controller:active {
  color: #81b3d2;
}

.search-button a {
  list-style: none;
}

.search-button a {
  font-size: 21px;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.search-button a:hover {
  background-color: #669ec0;
}

.search-button a:active {
  background-color: #5496bd;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.5);
}



